.shelf-container {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      justify-content: center;
}
.item-loader {
      justify-content: center;
      align-content: center;
      margin-left: 250px;
}