.side-nav {
    width: 400px;
    height: 40px;
    margin: 5px;
    .categories-label {
        margin: 5px;
    }
    .side-nav-categories {
        margin-top: 10px;
    }
    .range-slider {
        margin-top: 200px;
    }
}