.item {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border: 1px solid #eee;
    border-color: #6d76f7;

    .buy-btn {
      background-color: #6d76f7;
    }
  }

  .thumb {
    align-items: center;
    margin: 0 auto;
    img {
      width: 150px;
      height: 150px;
      // margin-left: auto;
      // margin-right: auto;
    }
  }

  .title {
    position: relative;
    height: 48px;
    overflow: hidden;
    max-lines: 2;
  }

  .price {
    height: 20px;
    .val {
      b {
        white-space: nowrap;
      }
    }
  }

  .buy-btn {
    background-color: #1b1a20;
    color: #fff;
    padding: 15px 0;
    margin-top: 10px;
    cursor: pointer;

    transition: background-color 0.2s;
  }
}
