.float-cart {
    position: fixed;
    top: 70px;
    right: 0px;
    left: 0px;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    overflow-y: scroll;

    .cart-shelf {
        position: relative;
        width: 100%;
        min-height: 280px;
        padding-bottom: 200px;
        display: inline-block;
      }
    .horizontal-line {
        background-color: #000;
        opacity: 0.2;
        position: relative;
        width: 90%;
        margin-left: 5%;
        height: 2px;
    }
  }