.home-screen {
  position:relative;
  padding: 10px;
  display: flex;
  .filter-block {
    margin: 10px;
    max-width: min-content;
  }
  .vertical-line {
    background-color: #000;
    position: fixed;
    width: 2px;
    height: 100%;
    top: 10px;
    left: 50%;
    display: block;
  }
  .shelf-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 10px;
  }
}

